body {
    font-family: helvetica;
}

.tasks {
    margin: 0;
    padding: 0;

}
.tasks li {
    list-style: none;
    background: #449922;
    color: white;
    margin: 0 5px;
}

.tasks li.active {
    background: #66dd44;
}

.tasks li .time {
    font-size: 200%;
}

.tasks li .task {
    padding: 10px 20px;
}

.tasks li .indicator.completed {
    background: black;
}
.tasks li .indicator {
    background: transparent;
    width: 10px;
    height: 75px;
    float: left;
}

.tasks li .indicator .progress {
    background: black;
    width: 10px;
    height: 75px;

}
